# sample vitalstatus module config for vital vertx launcher
"ai.vital~status-app~1.0" {

  dependencies: ["ai.vital~service.super.admin~1.0"]

  #always one!
  instances: 1

  port: 8082
  host: "0.0.0.0"
  ssl: false
  key_store_path: "D:/workspace_vital.ai_git/workspace_b2b/status.vital.ai.jks"
  key_store_password: "vitalaiisawesome97"
  
  
  test_addresses: ["mailgun.ping", "customerapp.ping", "customeradmin.ping", "vital.license.ping"]
  
  users : {
    "admin1": "password1"
    "admin2": "password2"
  }
  
  

}